alembic==0.9.5
appinst==2.1.5
appnope==0.1.0
apptools==4.3.0
APScheduler==3.3.1
arrow==0.10.0
asn1crypto==0.22.0
atom==0.3.9
Canopy==1.6.1
canopy-dashboard==0.4.2
canopy-packman-plugin==0.1.3
canopy-platform==0.8.0b1
CanopyDebugger==0.1.2.dev0
casuarius==1.1
certifi==14.5.14
cffi==1.10.0
chaco==4.5.0
click==4.0
codetools==4.2.0
configobj==5.0.6
cryptography==2.0.3
dateparser==0.6.0
decorator==4.0.2
distribute-remove==1.0.0
docutils==0.12
dominate==2.3.1
enable==4.5.1
enaml==0.9.8
enapp==1.0.0
enclosure==0.2
encore==0.6.0
enstaller==4.8.9
enum34==1.1.6
envisage==4.5.0.dev33
esky==0.9.8
Examples==7.3
faulthandler==2.4
feedparser==5.2.0
flake8==2.4.1
Flask==0.12.2
Flask-Bootstrap==3.3.7.1
Flask-Migrate==2.1.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.2
Flask-WTF==0.14.2
freetype==2.5.3
funcsigs==1.0.2
futures==3.0.3
gnureadline==6.3.3
grits-client==0.1
hatcher==0.8.7
idle==2.7.3
idna==2.6
ipaddress==1.0.18
ipykernel==4.1.0
ipython==4.0.0
ipython-genutils==0.1.0
ipython4==4.0.0
ipywidgets==4.0.3
itsdangerous==0.24
jigna==0.9.5
Jinja2==2.8
jsonpickle==0.4.0
jsonschema==2.4.0
jupyter==1.0.0
jupyter-client==4.0.0
jupyter-console==4.0.2
jupyter-core==4.0.6
kernmagic==0.2.0
keyring==4.0
kiwisolver==0.1.3
libjpeg==7.0
libopenjpeg==2.1.0
libpng==1.6.12
libsodium==1.0.3
libxml2==2.9.2
Mako==1.0.7
MarkupSafe==0.23
matplotlib==1.4.3
mccabe==0.3
memory-profiler==0.33
mistune==0.7.1
MKL==10.3
mkl-service==1.0
moment==0.8.2
nbconvert==4.0.0
nbformat==4.0.0
ndg-httpsclient==0.4.2
nose==1.3.4
notebook==4.0.5
numpy==1.9.2
okonomiyaki==0.9.0
pandas==0.17.1
path.py==8.1.1
pep8==1.6.2
pexpect==3.3
pickleshare==0.5
PIL-remove==1.0.0
pillow==2.9.1
ply==3.6
psutil==3.2.1
ptyprocess==0.4
pyasn1==0.3.2
pycparser==2.18
pycrypto==2.6.1
pyface==4.6.0.dev5
pyflakes==1.0.0
Pygments==2.0.2
PyJWT==1.5.2
pyOpenSSL==17.2.0
pyparsing==2.0.3
PySide==1.2.2
python-dateutil==2.4.2
python-editor==1.0.3
PythonDoc==2.7.3
pytz==2017.2
PyYAML==3.11
pyzmq==14.7.0
Qt==4.8.7
qtconsole==4.0.1
readline-remove==1.0.0
regex==2017.7.28
requests==2.8.0
ruamel.ordereddict==0.4.13
ruamel.yaml==0.15.32
scipy==0.16.1
shiboken==1.2.2
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.1.13
ssl-match-hostname==3.4.0.2
supplement==0.5.dev0
sympy==0.7.6.1
tabulate==0.7.3
terminado==0.5
times==0.7
tornado==4.2.1
tqdm==4.14.0
traitlets==4.0.0
traits==4.5.0
traits-enaml==0.2.1
traitsui==4.5.1
twilio==6.5.2
tzlocal==1.4
visitor==0.1.3
Werkzeug==0.12.2
WTForms==2.1
wxPython==2.9.2.4
zeromq==4.1.3
zipfile2==0.0.8
